<div name="name-attribute" class="class-attribute" custom="custom-attribute">
    <h1>scope @ sample</h1>
    <h3>{{attr1}}</h3>
    <h3>{{attr2}}</h3>
    <h3>{{attr3}}</h3>
    <h1>scope & sample</h1>
    <h3>{{func1({param:"yong"})}}</h3>
    <h1>scope = sample</h1>
    <textarea ng-model="binding"></textarea>
    <h1>directive sub scope sample</h1>
    <h3>{{field}}</h3>
    <h3>{{func()}}</h3>
    <h1>link sample</h1>
    <h3>{{preTest}}</h3>
    <h3>{{postTest}}</h3>
    <h3>{{linkTest}}</h3>
</div>